@import '../../../styles/breakpoints.scss';

// Container styles using a mixin
.container {
  @include container;
  height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imageContainer {
  background-color: #ffffff;
  padding: 12px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51px;
  width: 183px;
  border-radius: 8px;
}
