Dockerfile
.dockerignore
.env.example
.eslintrc.json
.git
.gitignore
.husky
.npmrc
.nvmrc
.prettierrc.json
.vscode
*.md
*.log
.next
node_modules
.idea
.DS_Store
Thumbs.db
*.test.*
*.spec.*
__tests__/
coverage/
out
dist
