.container {
  margin: 106px 0px 65px;
  .rowOne {
    display: flex;
    gap: 35px;

    .rowOneRight {
      max-width: 379px;
      width: 100%;

      button {
        margin-top: 20px;
      }
    }
  }

  .rowTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

    .rowTwoRight {
      max-width: 379px;
      width: 100%;
    }
  }
}
