.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 0px 90px;
  gap: 80px;
  border-radius: 15px;
  background: #e9caf4;
  padding-top: 76px;
  padding-left: 59px;
  .sectionLeft {
    max-width: 800px;
  }
}
