# Example local environment file
# Copy this file to .env.local and modify as needed for your development environment
# .env.local will not be committed to the repository

# Set this to override the host in middleware
# MIDDLEWARE_OVERRIDE_HOST='your-custom-subdomain.qa.begenuin.com'

# If empty or not set, the actual request host will be used
# MIDDLEWARE_OVERRIDE_HOST=''

# Add any other environment variables you want to override locally
