@import '../../../../styles/breakpoints.scss';

.container {
  margin-top: 36px;
  .secondRow {
    margin-top: 17px;
    padding: 48px 43px;
    border-radius: 30px;
    background: $sky-blue;
    display: flex;
    justify-content: space-between;
    gap: 33px;
    img {
      width: 100%;
      border-radius: 35.667px;
      background: $white;
      box-shadow: $impressions-box;
    }
  }
  .thirdRow {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    h4 {
      padding-top: 16px;
    }

    p {
      margin-top: 6px;
      margin-bottom: 16px;
    }
  }
  .topLine {
    border-top: 2px solid #bbb;
    border-image: linear-gradient(to right, #bbb 50%, transparent 50%) 100% 1;
  }
  .topLineHovered {
    border-top: 2px solid $off-black;
    border-image: linear-gradient(to right, $off-black 50%, transparent 50%) 100% 1;
  }
}
