body {
    color: #ffffff;
    background: transparent radial-gradient(closest-side at 50% 50%, #00189f 0%, #000000 100%) 0% 0% no-repeat
        padding-box;
    background: transparent radial-gradient(closest-side at 50% 50%, #00189f 0%, #000000 100%) 0% 0% no-repeat
        padding-box;
        height: 100vh;          
}
.mobile-m-p{
    background: transparent radial-gradient(closest-side at 50% 50%, #00189f 0%, #000000 100%) 0% 0% no-repeat
        padding-box;
    background: transparent radial-gradient(closest-side at 50% 50%, #00189f 0%, #000000 100%) 0% 0% no-repeat
        padding-box;        
}
h1 {color: #ffffff;text-shadow: 0px 9px 0px #0645ff;font-size: 78px;font-weight: 700;}

.navbar-light .navbar-toggler,.navbar-toggler:hover {color: rgba(0,0,0,.5);border-color: #fff;background:#fff !important;}
/* .navbar-light .navbar-brand,.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{color: #ffffff;font-size: 30px;font-weight: 700;} */
.navbar-light .navbar-brand img{width: 130px;}
a,a:hover{color: #ffffff;font-weight: 600;}
.btn-primary {color: #fff;background-color: #0645FF;border-color: #0645FF;font-weight: 700;font-size: 22px !important;padding: .275rem 2rem;border-radius: .40rem;}
.appstore-googleplay .nav-link{display: inline-block;}
.appstore-googleplay .nav-item img{width: 150px;}
/* .slider-img img{height: 30rem;} */
.slider-img img{max-height: 80vh;}
.slider-container > div {
    margin-top: -3%;
}
@media (min-width:992px){
    body{height: 100vh;}
}
@media (min-width: 320px) and (max-width: 1199px){
    body { height: auto;}
}
@media (min-width: 992px) and (max-width: 1199px){
    h1{font-size: 66px;}
}
@media (min-width: 768px) and (max-width: 1199px){
    .slider-container .text-slider h1 {
        font-size: 50px;
    }
    .early_access {
        font-size: 1.65rem;
    }
    .early_access_div {
        width: 18.5rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait){
    /* Removing resolve this issue */
    /* .slider-container .img-slider {
        margin-top: -20%;
    }
    .slider-container .text-slider {
        margin-top: -50%;
    } */
    .slider-container {
        height: 75vh;
    }
    .slider-img img {
        height: auto;
        max-height: 45vh;
    }
    .footer-links .nav-item {
        margin:auto;
    }
}
@media (min-width: 320px) and (max-width: 991px) and (orientation: landscape) {
    .slider-container .text-slider h1 {
        font-size: 25px !important;
        margin-bottom:20px !important; 
    }
    .slider-container .text-slider button {
        margin: 2rem 0rem !important;
    }
    .appstore-googleplay {
        margin-top: 0px !important;
    }
    .slider-container > div {
        margin-top: -8%;
    }
    .slider-img img {
        height: auto;
        max-height: 65vh;
    }
    .genuin_footer > .row {
        padding: 0px !important;
    }
}
/* Galaxy Fold */
@media (min-width: 280px) and (max-width: 319px) and (orientation: portrait) {
    .slider-container {
        height: 75vh;
    }
    .footer-links .nav-item {
        margin:auto;
    }
    .slider-container .text-slider h1 {
        font-size: 25px !important;
        margin-bottom:20px !important; 
    }
    .slider-img img {
        height: auto;
        max-height: 35vh;
    }
    .slider-container .img-slider {
        margin-top: -30%;
    }
    .slider-container .text-slider {
        margin-top: -70%;
    }
}
/* Surface Duo */
@media (min-width: 540px) and (max-width: 720px) and (orientation: portrait) {
    .slider-container .img-slider {
        margin-top: -15%;
    }
    .slider-container .text-slider {
        margin-top: -30%;
    }
}
@media (min-width: 540px) and (max-width: 720px) and (orientation: landscape) {
    .slider-container .img-slider,
    .slider-container .text-slider{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .appstore-googleplay {
        margin-top: 0px !important;
    }
    .appstore-googleplay > li > a {
        width: 50%;
    }
    .slider-container .text-slider h1 {
        font-size: 40px !important;
        margin-bottom:20px !important; 
    }
    .slider-img img {
        height: auto;
        max-height: 65vh;
    }
    .slider-container .text-slider button {
        margin: 2rem 0rem !important;
    }
    .slider-container > div {
        margin-top: -8%;
    }
}
@media (min-width: 280px) and (max-width: 653px) and (orientation: landscape) {
    #basic-navbar-nav button {
        font-size: 18px !important;
    }
    .slider-container .text-slider h1 {
        font-size: 30px !important;
        margin-bottom: 20px !important;
    }
    .slider-container .text-slider button {
        margin: 1rem auto !important;
        font-size: 18px !important;
    }
    .sticky-top .navbar {
        padding: 1rem 0 !important;
    }
    .footer-links > .row {
        padding: 0px !important;
    }
    .appstore-googleplay {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .slider-container .text-slider h1 {font-size: 50px !important;}
    /* .slider-container .text-slider .slick-dots{margin: 0px !important;bottom: -44px;} */
}
@media (min-width: 768px){
    .mobile-m-p .d-md-block,.mobile-m-p .d-sm-block {display: block!important;}    
}
@media (max-width:767px){    
    .slider-text-center{text-align: center;}        
    .footer-links .nav-link{font-size: 14px;}
    .btn-primary{margin: 0 auto;}
    .text-slider .slick-dots{text-align: center !important;}
    .text-m-center .justify-content-end{justify-content: center !important;}
    .footer-m-none{display: none;}
}
@media (max-width:576px){
    h1 {font-size: 42px;margin-bottom: 30px;}
    .appstore-googleplay .nav-item img{width: 130px;}
    .mobile-m-p .d-sm-block {display: none !important;}
    .mobile-m-p .mt-5{margin-top: 0rem!important;}
    .mt-5.d-sm-none{margin-top: 2rem!important;}
    .navbar-brand{text-align: center;width: 100%!important;margin-right: 0;}
    .navbar-light .navbar-brand img {width: 100px;}    
}
@media (max-width:340px){
    h1{margin-bottom: 10px;}
    .mt-5.d-sm-none{margin-top: 1rem!important;}
    .pb-4, .py-4 {padding-bottom: 0.5rem!important;}
}

body.nav-open{overflow: hidden;}
.main-menu{width: 100%; height: 100%; opacity: 0; visibility: hidden;}
.nav-open .main-menu {opacity: 1; visibility: visible; background: #000000 0% 0% no-repeat padding-box;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.9;}
.main-menu .nav li a{color:#FFF; font-size: 24px; font-weight:700;text-align: right;padding: 1rem 0rem;}
.main-menu .nav li{
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -moz-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -o-animation-timing-function: cubic-bezier(.45,.005,0,1);
    animation-timing-function: cubic-bezier(.45,.005,0,1);
}
.nav-open .main-menu .nav li{
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform .2s,opacity .2s;
    transition: transform .2s,opacity .2s;
}
.main-menu .nav li{-webkit-transition-delay:0.1s; -moz-transition-delay:0.1s; -ms-transition-delay:0.1s; -o-transition-delay:0.1s; transition-delay:0.1s; }
/* .main-menu .nav li.delay-2{-webkit-transition-delay:0.2s; -moz-transition-delay:0.2s; -ms-transition-delay:0.2s; -o-transition-delay:0.2s; transition-delay:0.2s; }
.main-menu .nav li.delay-3{-webkit-transition-delay:0.3s; -moz-transition-delay:0.3s; -ms-transition-delay:0.3s; -o-transition-delay:0.3s; transition-delay:0.3s; }
.main-menu .nav li.delay-4{-webkit-transition-delay:0.4s; -moz-transition-delay:0.4s; -ms-transition-delay:0.4s; -o-transition-delay:0.4s; transition-delay:0.4s; }
.main-menu .nav li.delay-5{-webkit-transition-delay:0.5s; -moz-transition-delay:0.5s; -ms-transition-delay:0.5s; -o-transition-delay:0.5s; transition-delay:0.5s; } 
.main-menu .nav li.delay-6{-webkit-transition-delay:0.6s; -moz-transition-delay:0.6s; -ms-transition-delay:0.6s; -o-transition-delay:0.6s; transition-delay:0.6s; }
.main-menu .nav li.delay-7{-webkit-transition-delay:0.7s; -moz-transition-delay:0.7s; -ms-transition-delay:0.7s; -o-transition-delay:0.7s; transition-delay:0.7s; }
.main-menu .nav li.delay-8{-webkit-transition-delay:0.8s; -moz-transition-delay:0.8s; -ms-transition-delay:0.8s; -o-transition-delay:0.8s; transition-delay:0.8s; }
.main-menu .nav li.delay-9{-webkit-transition-delay:0.9s; -moz-transition-delay:0.9s; -ms-transition-delay:0.9s; -o-transition-delay:0.9s; transition-delay:0.9s; } */

.flex-top.p-5 {padding: 3rem 1rem !important;max-height: 500px;overflow: auto;}
.nav-button{position:absolute;right: 0;z-index:1111;height:42px; display:block; width:50px; padding: 12px 0;text-align: right;}
.nav-button #nav-icon3{width:24px;height:22px;display:inline-block;position:relative;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer;}
.nav-button #nav-icon3 span{display:block;position:absolute;height:3px;width:100%;background:#FFFFFF;border-radius:9px;opacity:1;left:0;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out}
.nav-button #nav-icon3 span:nth-child(1){top:0}
.nav-button #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3){top:7px}
.nav-button #nav-icon3 span:nth-child(4){top:14px}
.nav-open #nav-icon3 span:nth-child(1){top:9px;width:0;left:50%}
.nav-open #nav-icon3 span:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.nav-open #nav-icon3 span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.nav-open #nav-icon3 span:nth-child(4){top:9px;width:0;left:50%}

.flex-center{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:100%}
.copy-right{position: absolute;bottom: 0;right: 0;list-style: none;}
.copy-right li a{color:#0645FF;font-weight: 700;font-size: 18px;}






/* ----------------------------------- slick slider theme css ---------------------------------------------------------------------------*/
@charSet 'UTF-8';

/* Slider */
/* .slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
} */

/* Icons */
/* @font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
} */
/* Arrows */
.slick-dots li{height: auto !important;width: auto !important;}
.slick-dots{text-align: left !important;}
.slick-dots li button{background-color: #0645ff !important;width: 10px !important;height: 10px !important;border-radius: 8px; margin: 0 auto;}
.slick-dots li.slick-active button{width: 59px !important;height: 11px;}
.slick-slide div:focus{outline: none;}
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -15px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
