:root {
  --h-top-navbar: 70px;
}
@font-face {
  font-family: 'AvenirNext';
  src: url('/fonts/AvenirNext-Bold-01.ttf');
  src: url('/fonts/AvenirNext-BoldItalic-02.ttf');
  src: url('/fonts/AvenirNext-DemiBold-03.ttf');
  src: url('/fonts/AvenirNext-DemiBoldItalic-04.ttf');
  src: url('/fonts/AvenirNext-Heavy-09.ttf');
  src: url('/fonts/AvenirNext-HeavyItalic-10.ttf');
  src: url('/fonts/AvenirNext-Italic-05.ttf');
  src: url('/fonts/AvenirNext-Medium-06.ttf');
  src: url('/fonts/AvenirNext-MediumItalic-07.ttf');
  src: url('/fonts/AvenirNext-Regular-08.ttf');
  src: url('/fonts/AvenirNext-UltraLight-11.ttf');
  src: url('/fonts/AvenirNext-UltraLightItalic-12.ttf');
}
@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('/fonts/AvenirNext-DemiBold-03.ttf');
}
@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('/fonts/AvenirNext-Bold-01.ttf');
}

html {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding: 0;
  margin: 0;
  font-style: normal;
}
/* Generic CSS */
body .overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
  background: rgb(0 0 0 / 0.7);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
#__next,
.layout {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100% !important;
}
.text-primary,
.navbar-collapse .navbar-nav a.text-primary {
  color: #0645ff !important;
}
.bg-gradient {
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 0) 0%,
    rgba(17, 17, 17, 0.7) 100%
  );
}
.bg-gradient-180 {
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 0) 0%,
    rgba(17, 17, 17, 0.7) 100%
  );
}
.bg-gradient-blue {
  background: transparent
    radial-gradient(closest-side at 50% 50%, #00189f 0%, #000000 100%) 0% 0%
    no-repeat padding-box;
}
.rounded-5 {
  border-radius: 20px;
}

/* Top Navigation CSS */
.bg-black {
  background: #000;
}
.h-top-navbar {
  height: var(--h-top-navbar);
}
.navbar {
  width: 100%;
  height: auto;
}
.navbar-brand {
  display: flex;
}
.navbar-brand img {
  width: 115px;
  height: auto;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover {
  color: #ffffff;
  border: 0;
  outline: none;
  padding: 0;
  box-shadow: none;
  background: transparent;
  border-color: transparent;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  opacity: 0.5;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  width: 2rem;
  height: 2rem;
}
.navbar-collapse {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  background: rgb(0 0 0 / 80%);
  display: flex !important;
  justify-content: flex-end;
}
.navbar-collapse.show {
  left: 0;
}
.navbar .navbar-collapse .navbar-toggler {
  display: flex;
  width: auto;
  margin-left: auto;
}
.navbar .navbar-collapse .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/%3E%3C/svg%3E");
}

.navbar-collapse .navbar-nav {
  width: 100%;
  height: 100%;
  text-align: right;
}
.navbar-collapse .navbar-nav a {
  color: #fff !important;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.56;
}
.navbar-collapse .navbar-nav a.text-primary {
  font-size: 1rem;
}
.navbar-collapse .navbar-nav {
  padding: 1.2rem 1rem;
}
.navbar-collapse .navbar-nav a:hover {
  opacity: 0.8;
}
/* Buttons CSS */
.btn {
  border-radius: 0.25rem;
  font-weight: 700;
}
.btn-cta {
  display: inline-flex;
}
.btn-primary {
  color: #fff;
  background-color: #0645ff;
  border-color: #0645ff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #072ebe;
  border-color: #072ebe;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #072ebe;
  border-color: #072ebe;
  box-shadow: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #0645ff;
  border-color: #0645ff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #072ebe;
  border-color: #072ebe;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-outline-light {
  color: #ffffff;
  border-color: #ffffff;
}
.btn-outline-light:hover,
.btn-check:checked + .btn-outline-light,
.btn-check:active + .btn-outline-light,
.btn-outline-light:active,
.btn-outline-light.active,
.btn-outline-light.dropdown-toggle.show {
  color: #000;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-check:focus + .btn-outline-light,
.btn-outline-light:focus,
.btn-check:checked + .btn-outline-light:focus,
.btn-check:active + .btn-outline-light:focus,
.btn-outline-light:active:focus,
.btn-outline-light.active:focus,
.btn-outline-light.dropdown-toggle.show:focus {
  box-shadow: none;
}

.btn-outline-light:disabled,
.btn-outline-light.disabled {
  color: #f8f9fa;
  background-color: transparent;
  border-color: #f8f9fa;
}
/* Video Player CSS */
.video-container {
  position: relative;
  width: auto;
  height: 100%;
  cursor: pointer;
  aspect-ratio: 9 / 16;
  background: #333333;
  isolation: isolate;
}
.video-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.btn-play {
  color: rgb(255 255 255 / 0.5);
  width: 4rem !important;
  height: 4em;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.video-footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 1000;
  width: 100%;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #fff;
  line-height: 1.56;
  padding-bottom: 0;
}
.video-footer .badge {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  background-color: rgb(0 0 0 / 40%) !important;
}
.progress {
  margin-top: 0.5rem;
  height: 0.063rem;
  border-radius: 0;
  background-color: #fff;
  margin: 0.5rem -1rem 0;
}
.progress-bar {
  background-color: #0645ff;
}

.video-auther {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.img-auther-text {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fec62e;
  color: #fd8d00;
  font-weight: 700;
  letter-spacing: 0.063rem;
  line-height: 1.25;
  text-align: center;
}
.img-auther-pic {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}
.video-more-option {
  width: 3rem;
}
.video-more-option ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.btn-arrow,
.video-more-option ul > li {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 1rem;
}
.btn-arrow:hover,
.video-more-option ul > li:hover {
  background: rgba(255, 255, 255, 0.3);
}
.btn-arrow:focus,
.btn-arrow:focus-visible,
.video-more-option ul > li:focus,
.video-more-option ul > li:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}
.btn-arrow:first-child {
  margin-top: 0;
}
/* Next and Previous Video Controler CSS */
.btn-arrow-controler {
  position: absolute;
  top: 50%;
  right: -4rem;
  transform: translateY(-50%);
}
.react-player__shadow {
  display: none !important;
}
@media (max-width: 768px) {
  .video-container {
    overflow: hidden;
  }
}
/* Modal App Download CSS */
.modal-app-download .modal-content {
  border-radius: 10px;
}
.modal-app-download .btn-get-app {
  max-width: 320px;
  width: 100%;
}
.btn-close:focus {
  box-shadow: none;
}
@media (max-width: 576px) {
  .modal-app-download .modal-content {
    border-radius: 40px 40px 0 0;
  }
  .modal-app-download .modal-dialog-centered {
    align-items: flex-end;
    margin: 0;
    min-height: 100%;
  }
}
/* Modal Welcome CSS */
.modal-welcome .modal-dialog {
  max-width: 320px;
  margin: auto;
}
.modal-welcome .modal-content {
  background: #000;
  background: transparent
    radial-gradient(closest-side at 50% 50%, #00189f 0%, #000000 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 20px;
  /* margin: 100px auto; */
}
.modal-welcome .btn-close {
  color: #fff;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}
.modal-welcome .carousel .carousel-item img {
  max-width: 160px;
}
.modal-welcome .carousel .carousel-item h1 {
  color: #ffffff;
  text-shadow: 0px 8px 0px #0645ff;
  font-size: 40px;
  font-weight: 700;
  height: 150px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modal-welcome .carousel .carousel-indicators {
  bottom: -5px;
}
.carousel .carousel-indicators [data-bs-target],
.modal-welcome .carousel .carousel-indicators [data-bs-target] {
  background-color: #0645ff;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: 0;
  background-clip: unset;
}
.carousel .carousel-indicators .active,
.modal-welcome .carousel .carousel-indicators .active {
  width: 40px;
}
/* Content Section */

.section-content .container-false {
  height: 70px;
}
.section-content .carousel .carousel-indicators {
  right: auto;
  justify-content: start;
  margin-right: 0;
  margin-left: 0;
  bottom: -50px;
}

.section-content h1 {
  color: #ffffff;
  text-shadow: 0px 9px 0px #0645ff;
  font-size: 4.5rem;
  font-weight: 700;
}
.img-carousel {
  width: 100%;
  height: auto;
  max-height: 600px;
  max-width: 400px;
  object-fit: contain;
}
.container-footer a {
  color: #ffffff;
  font-weight: 600;
}
.container-footer a:hover {
  color: #ffffff;
  opacity: 0.5;
}
.container-footer.text-black a,
.container-footer.text-black a:hover {
  color: #000000;
}
@media (max-width: 768px) {
  .section-content h1 {
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
  }
  .img-carousel {
    max-height: 400px;
    max-width: 250px;
  }
  .section-content .carousel .carousel-indicators {
    right: 0;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
  }
}
@media (max-width: 576px) {
  .img-carousel {
    max-height: 300px;
    max-width: 150px;
  }
  .section-content h1 {
    margin-top: 1.5rem;
    font-size: 2rem;
  }
}
/* Section Privacy */
.section-privacy {
  height: calc(100% - var(--h-top-navbar));
  display: flex;
  flex-direction: column;
}
