html {overflow-y: hidden}
.card{
    margin: 0 auto;
}
.urltxt{
    max-width: 270px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
body .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: rgb(0 0 0 / 0.70);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);    
}
.my{margin-right: auto;margin-left: auto;}
#whatsappIcon, #facebookIcon, #twitterIcon, #instaIcon{
    color:#000000;
}
@media screen and (orientation:landscape) and (max-width: 1024px) and (min-width: 320px)  {
    body{line-height: 0;}
    html {overflow-y: hidden;}
    .w-100{max-width: 100% !important;flex: 0 0 100% !important;width: 100% !important;}
    .padding-0{padding: 0 !important;}
    .main{background-image: none !important;}
    .card {background-color: transparent;box-shadow: none;height: 100% !important;}
    .d-block,.content.tag,.app-download{display: block !important;font-size: 12pt !important;}
    .tag .match{display: inline-block !important;background-color:transparent !important;color: #FFFFFF;}
    .match,.content,.d-none{display: none !important;}
    .react-player{height: 94vh !important;width: 100% !important;margin-top: 0 !important;border-radius:0px !important}
    .card{width: 100% !important;}
    .content.tag{
        width: 100%;
    }
    .my img{
        max-width: 30% !important;
    }
    .fa-play{
        width: 7% !important;
    }
    .main-meddle,.bg-white{display: block !important;background-color: transparent !important;}
    .react-player.fixed-bottom{height: 94vh !important;display: block !important;}
    .react-player::before{background: transparent !important;height: 0;}
    .react-player::after{background: transparent !important;height: 0;}
    .content span,.content mark{color:#FFFFFF !important}
 }
@media (max-width:3000px){
    .main{
        height:100vh !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width:3000px){
    .main{
        height:100vh !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card{
        width: auto !important;
        height:99% !important;
    }
    .react-player{
        margin-top: -3% !important;
        width: 100% !important;
        height: 87vh !important;
    }
    span{
        font-size: xxx-large !important;
    }
    svg{
        width:7% !important;
    }
    .linkPreview{ 
        margin-top: -2px !important;
     }
    .linkPreview > a{ 
        max-width: 100vh !important;
        height: 7vh;
     }
     .applink{
        font-size: xxx-large !important;
        margin-top: 117% !important;
     }
     .media-link{
        height: 86pt !important;
        padding: 22px !important;
     }
     .copytxt{
        margin-top: -5px !important;
     }
}

@media (min-width:3000px){
    .main{
        height:100vh !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fa-facebook-f{
        width: 5% !important;
    }
    .card{
        width: auto !important;
        height:99% !important;
    }
    .commentIcon{
        z-index: 0000 !important;
    }
    .commentxt{
        z-index: 0000 !important;
    }
    .microlink_card{
        height: 213px !important;
    }
    .eyeIcon{
        right: 43% !important;
        z-index: 0000 !important;
    }
    .viewtxt{
        right: 36% !important;
        z-index: 00 !important;
    }
    .react-player{
        margin-top: -1% !important;
        width: 100% !important;
        height: 85vh !important;
    }
    span{
        font-size: xxx-large !important;
    }
    svg{
        width:7% !important;
    }
    .linkPreview{ 
        margin-top: 17px !important;
     }
    .linkPreview > a{ 
        max-width: 100vh !important;
        height: 7vh;
     }
     .media-link{
        height: 86pt !important;
        padding: 22px !important;
     }
     .copytxt{
        margin-top: -5px !important;
     }
     .applink{
        font-size: xxx-large !important;
        margin-top: 117% !important;
     }
}
video{width: 100vw !important;height: 100%;object-fit: cover;}
.react-player{display: inline-block;width: auto !important;height: 568px !important;background: #000000;height:calc(100vh - 142px) !important;position: relative;}
.react-player::before{content:"";position: absolute;height: 15%;right:0;left:0;bottom:0;z-index:1;background:linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, rgb(0 0 0 / 100%) 100%)}
.react-player::after{content:"";position: absolute;height: 15%;top:0;right:0;left:0;bottom:0;z-index:1;background:linear-gradient(180deg, rgb(0 0 0 / 100%) 0%, rgb(255 255 255/ 0%) 100%)}
.content{height: calc(100% - 174px) !important;}
.url-block{position: absolute;bottom: -12px;padding-right: 15px;}
.padding-0{padding: 0;}

.mobile-app-download-btn{
    margin: 0 10px;padding:0 4px;border-radius: 10px;background-color: #FFFFFF;max-width: 320px;height: 50px;margin: 0 auto;position: absolute;bottom: 10px;width: 100%;left: 50%;transform: translate(-50%, -50%);z-index: 999;
}
.mobile-app-download-btn img{margin-top: 4px;}
.inner-block{display: inline-block;line-height: normal;width: 70%;}
.inner-block h5{font-family: 'AvenirNext-Bold';font-size: 17px;color: #333333;margin-top: 3px;}
.inner-block p{font-family: 'AvenirNext-DemiBold';font-size: 14px;color: #333333;}
.btn-width{width: 30%;display: inline-block;}
.btn-width a{font-family: 'AvenirNext-Bold';background: #0645FF;color: #fff;padding: 6px;position: relative;top: -16px;right: -2px;border-radius: 5px;display: inline-block;font-size: 15px;width: 90px;height: 28px;text-align: center;padding: 14px 0;}
.inner-block .media .mr-3{margin-right: 0.3rem;}
.content span,.content mark{color:#333333}
/* .inner-block .media {align-items: center;} */

/*.main-meddle{display: flex;align-items: center;justify-content: center;height: 100%;background: #000000;}
.bg-white{background: #fff;}
video{height: 612px !important;}
 @media (min-width: 1240px) and (max-width: 1440px){
    .react-player{height: 580px !important;}
    .icon-position img,.icon-position .commentxt, .icon-position .viewtxt{top: 84% !important;}
} */
@media (max-width:1440px){
    .main{
        height:100vh !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .urltxt{
        font-size: 14pt !important;
        margin-right: 70px;
        display: block;
        word-break: break-word;
    } 
    /* .card{
        height: auto !important;
    }    */
}
@media (max-width:773px){
    .media-link{
	width: 100% !important;
    }
	 .main{
    height:100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.urltxt{
    font-size: 14pt !important;
    margin-right: 70px;
    display: block;
    word-break: break-word;
}
}

@media (max-width:767px){
	.card{
     width:60%;
     height:100% !important;
	}
	.react-player{
        margin: 0 auto;
        height: 528px ;
	    width: 300px ;
    }
    .applink{
        margin-top: 0 !important;
    }
 .main{
    height:100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.urltxt{
    font-size: 14pt !important;
    margin-right: 70px;
    display: block;
    word-break: break-word;
}
}

@media (max-width:550px){
    .card{width:80% !important}
    .overlay{
        height: 112% !important;
    }
     .main{
    /* height:100vh !important; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.urltxt{
    font-size: 14pt !important;
    margin-right: 70px;
    display: block;
    word-break: break-word;
}
}
@media (max-width:408px){
    .card{width:100% !important}
    .react-player{width: 290px !important;}
     .main{
    height:100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.urltxt{
    font-size: 14pt !important;
    margin-right: 70px;
    display: block;
    word-break: break-word;
}
}
@media (max-width:400px){
	.media-link{
	width: 100% !important;display: inline-block;word-break: break-all;height: auto !important;
    }
    .main{
    height:100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.urltxt{
    font-size: 14pt !important;
    margin-right: 70px;
    display: block;
    word-break: break-word;
}
}
.tag .match,.content.tag,.app-download{display: none}
.content.tag{white-space: normal !important;}
@media only screen and (orientation:portrait) and (max-width: 1024px) and (min-width: 320px)  {
    body{line-height: 0;}
    html {overflow-y: auto;}
    .w-100{max-width: 100% !important;flex: 0 0 100% !important;width: 100% !important;}
    .padding-0{padding: 0 !important;}
    .main{background-image: none !important;}
    .card {background-color: transparent;box-shadow: none;height: 100% !important;}
    .d-block,.content.tag,.app-download{display: block !important;font-size: 17px !important;}
    .tag .match{display: inline-block !important;background-color:transparent !important;color: #FFFFFF;}
    .match,.content,.d-none{display: none !important;}
    .react-player{height: 100% !important;width: 100% !important;margin-top: 0 !important;border-radius:0px !important}
    .card{width: 100% !important;}

    .main-meddle {display: block;} 
    .react-player::before{background: transparent !important;height: 0;}
    .react-player::after{background: transparent !important;height: 0;}
    .content span,.content mark{color:#FFFFFF !important}
}