ul.custom-list li.has-child::before {
  display: none;
}

ul.custom-list li::before {
  content: "";
  width: 1em;
  height: 10px;
  border-bottom-left-radius: 10px;
  border-color: red;
  border-bottom: 1px solid var(--tertiary-200);
  border-left: 1px solid var(--tertiary-200);
  position: absolute;
  left: -1.01em;
  top: 50%;
  transform: translateY(-100%);
}
