@import '../../../../styles/breakpoints.scss';

.bannerContainer {
  margin-bottom: 122px;

  .bannerTop {
    position: sticky;
    top: 0;
    margin: 40px 0;
  }
  position: relative;
}
.imgContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  // margin: 0 auto;
  img {
    height: 498px;
    width: auto;
  }
}

.bannerBottons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 22px;
  position: relative;

  &::after {
    content: '';
    background: #eceaf2;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    z-index: 1;
  }

  span {
    padding: 8px 20px;
    border-radius: 20px;
    z-index: 9;
    cursor: pointer;
    border: 1px solid $off-black;
    background: $off-white;
    font-family: Avenir Next;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 9;

    &:nth-of-type(1) {
      background: $off-black;
      color: $white;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: -100px;
        width: 100px;
        height: 4px;
        background: $off-black;
        top: 50%;
        margin-top: -2px;
      }
    }
    &.activeButton {
      background: $off-black;
      color: $white;
    }
  }
}

.panelContainer {
  width: 600vw;
  height: 498px;
  display: flex;
  flex-wrap: wrap;
}

.panel {
  width: 100vw;
  height: 498px;
  background-color: #f7f1f9;
  // background-color: red;
}

.panelContainer {
  position: relative;
}

.stickySection.bannerContainer {
  position: relative;
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(100% - 86%);
    height: 100vh;
    background: red;
    z-index: 9;
  }
  &::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 94.5%);
    height: 100vh;
    background: red;
    z-index: 999;
  }
}
